# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: "gateway-service CI"

on:
  push:
    branches: [ develop ]
    paths: 
        - "gateway-service/**"

jobs:
  Build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./gateway-service

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v1
      with:
        java-version: 15.0.2
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
